# plugin dev で kintone へプラグインを自動アップロードするための設定です
# このファイルをコピーして .env を作成してください (.env はコミットしないでください)
KINTONE_BASE_URL=https://____your_subdomain____.cybozu.com
KINTONE_USERNAME=____username____
KINTONE_PASSWORD=____password____

# Basic 認証を使用している場合のみ設定してください
# KINTONE_BASIC_AUTH_USERNAME=____basic_auth_username____
# KINTONE_BASIC_AUTH_PASSWORD=____basic_auth_password____
